<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @membership.User %>
</p>

<p>
  <strong>Beerclub:</strong>
  <%= @membership.BeerClub %>
</p>

<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
